.buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
}

.loginPanel {
  width: 25vw;
  min-width: 400px;
  height: 60vh;
  min-height: 400px;
  background-color: #242621;
  color: white;
  padding: 30px;
  border-radius: 10px;
  margin-left: 37.5vw;
  margin-top: 20vh;
  opacity: 0.9;
}

img {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
